body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
.p-grande {
  font-size: 1.6rem;
}
.strong-grande {
  font-size: 1.5rem;
}
ol li::marker {
  font-size: 1.5rem;
  font-weight: bold;
}
.descripcion {
  color: #666666;
}
