.ingreso {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px 0;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .ingreso {
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
}
